<div class="nb qi alo">
    <div class="mb rb yg yq alo cyw">
        <header class="gx tn ua ark ave chc crw cse csv ddh"><a href="#"><span class="t">Your Company</span><img
                    class="nh tm bya" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=600"
                    alt=""></a></header>
        <main class="gx tn ua ark ary cfm crw cse csw ddh">
            <div class="uc">
                <p class="avy awg awr ayh">404</p>
                <h1 class="lh avs awd awx axv chy">Page not found</h1>
                <p class="lk avy awq axs">Sorry, we couldn’t find the page you’re looking for.</p>
                <div class="kw"><a href="#" class="awa awg awq ayh"><span aria-hidden="true">←</span> Back to home</a>
                </div>
            </div>
        </main>
        <footer class="adc crw cse csx">
            <div class="afm aft aiq arr">
                <nav class="gx lx tn ua yz aag ark awa awq axs ddh"><a href="#">Contact support</a><svg
                        viewBox="0 0 2 2" aria-hidden="true" class="nc rd aon">
                        <circle cx="1" cy="1" r="1"></circle>
                    </svg><a href="#">Status</a><svg viewBox="0 0 2 2" aria-hidden="true" class="nc rd aon">
                        <circle cx="1" cy="1" r="1"></circle>
                    </svg><a href="#">Twitter</a></nav>
            </div>
        </footer>
        <div class="md cqf csf csv ctb cuw"><img
                src="https://images.unsplash.com/photo-1470847355775-e0e3c35a9a2c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1825&amp;q=80"
                alt="" class="aa ak ph tn aqe"></div>
    </div>
</div>